*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include responsive(big-desktop) {
    font-size: 80%;
  }

  @include responsive(tab-landscape) {
    font-size: 56.25%;
  }

  @include responsive(tab-small) {
    font-size: 50%;
  }
}

body {
  background-color: var(--color-white);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
  -webkit-border-radius: 1rem;
  background-color: transparent;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background: var(--color-black-lightest);
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark-2);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  z-index: 9999;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    backface-visibility: hidden;

    &::before,
    &::after {
      border-radius: var(--b-radius-rnd);
      backface-visibility: hidden;
    }

    &::before {
      content: '';
      width: 6.4rem;
      height: 6.4rem;
      background-color: var(--color-black);
      animation: loader 0.85s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      width: 9.6rem;
      height: 9.6rem;
      background-color: var(--color-black-light);
      z-index: -1;
      animation: loader 0.8s linear infinite;
    }
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
