body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.heading__primary {
  font-size: clamp(4.8rem, 8vw, 8rem);
  font-weight: 700;
  line-height: 1.2;
  @include gradient(var(--color-primary), var(--color-primary-dark));
}

.heading__secondary {
  font-size: clamp(2.4rem, 5vw, 5.2rem);
  color: var(--color-black-light);
  letter-spacing: -0.03rem;
}

// .heading__tertiary {
// }
