.u-mb-xs {
  margin-bottom: 1.2rem;
}

.u-mb-sm {
  margin-bottom: 2.4rem;
}

.u-mb-md {
  margin-bottom: 4.8rem;
}

.u-mb-lg {
  margin-bottom: 6.4rem;
}

.u-mt-lg {
  margin-top: 6.4rem;
}

.u-fw-light {
  font-weight: 300;
}

.u-fw-bold {
  font-weight: 600;
}

.u-t-center {
  text-align: center;
}

.u-t-uppercase {
  text-transform: uppercase;
}
