.u-mb-xxs {
  margin-bottom: 0.8rem !important;
}

.u-mb-xs {
  margin-bottom: 1.2rem !important;
}

.u-mb-sm {
  margin-bottom: 2.4rem !important;
}

.u-mb-md {
  margin-bottom: 4.8rem !important;
}

.u-mb-lg {
  margin-bottom: 6.4rem !important;
}

.u-mb-xl {
  margin-bottom: 9.6rem !important;
}

.u-mt-lg {
  margin-top: 6.4rem !important;
}

.u-ml-md {
  margin-left: 4.8rem !important;
}

.u-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-fw-light {
  font-weight: 300 !important;
}

.u-fw-bold {
  font-weight: 600 !important;
}

.u-c-pc {
  color: var(--color-primary-dark) !important;
}

.u-c-gc {
  font-weight: 700 !important;
  @include gradient(var(--color-primary), var(--color-primary-dark));
}

.u-t-center {
  text-align: center !important;
}

.u-t-uppercase {
  text-transform: uppercase !important;
}

.u-nt-r {
  transform: none !important;
}

.u-o-hidden {
  overflow: hidden;
}
