:root {
  --color-primary: #1e68f9;
  --color-primary-light: #e9f0fe;
  --color-primary-dark: #1853c7;
  --color-primary-dark-2: #78a4fb;
  --color-white: #fff;
  --color-white-dark: #f5f5f5;
  --color-white-darkest: #d1d5db;
  --color-black: #202020;
  --color-black-light: #353535;
  --color-black-light-2: #4f4f4f;
  --color-black-lightest: #b1b1b1;
  --header-height: 8rem;
  --transition: all 300ms ease-in-out;
  --b-radius-3: 0.3rem;
  --b-radius-5: 0.5rem;
  --b-radius-rnd: 50%;
}
