.about {
  background-color: var(--color-white-dark);
  padding: 9.6rem 0;

  &__content {
    display: grid;
    grid-template-columns: 35rem 1fr;
    align-items: center;
    justify-content: center;
    gap: 9.6rem 6.4rem;

    @include responsive(tab-small) {
      grid-template-columns: 1fr;
      row-gap: 6.4rem;
    }
  }

  &__photo {
    width: 100%;
    border-radius: var(--b-radius-5);

    @include responsive(tab-small) {
      height: 35rem;
      object-fit: contain;
    }
  }

  &__info {
    @include responsive(tab-small) {
      grid-row: 1/2;
      text-align: center;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 4.4rem;
    font-weight: 700;
    color: var(--color-black-light-2);
    line-height: 1.2;
    letter-spacing: 0.03rem;
  }

  &__position {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: 3.2rem;
    }
  }
}

.contact {
  padding: 9.6rem 0;
  height: calc(100vh - (9.6rem));
  display: flex;
  align-items: center;

  &__heading {
    line-height: 1.4;
  }

  &__message {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 70%;

    @include responsive(phone-sm) {
      max-width: 100%;
    }
  }
}
