body.dark {
  background-color: var(--color-black);
  color: var(--color-white-darkest);
}

.dark {
  & .header {
    background-color: rgba(54, 54, 54, 0.3);
  }

  & .navigation {
    &__link {
      &:link,
      &:visited {
        color: var(--color-white-darkest);
      }

      &:hover {
        color: var(--color-primary-light);
      }
    }

    &__icon {
      color: var(--color-white-darkest);
    }

    &__btn-menu {
      border-color: var(--color-white-darkest);

      & span {
        &,
        &::before,
        &::after {
          background-color: var(--color-white-darkest);
        }
      }

      &.active span {
        background-color: transparent;
      }
    }

    &__mobile-menu {
      background-color: rgba(32, 32, 32, 0.8);
    }

    &__mobile-container {
      background-color: var(--color-black-light);
    }

    &__mobile-link {
      &:link,
      &:visited {
        color: var(--color-white-dark);
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  & .popup {
    background-color: var(--color-black-light);

    &__link {
      &:link,
      &:visited {
        color: var(--color-white-dark);
      }

      &:hover {
        background-color: var(--color-black-light-2);
        color: var(--color-primary-light);
      }
    }
  }

  & .hero {
    &__greet,
    &__message {
      color: var(--color-white-darkest);
    }
  }

  & .about {
    background-color: var(--color-black-light);

    &__name {
      color: var(--color-white-dark);
    }
  }

  & .floating {
    &::before {
      border-color: var(--color-black-light);
    }

    &__item {
      background-color: var(--color-black-light-2);
    }

    &__icon {
      fill: var(--color-primary-light);
    }
  }

  & .skills {
    &__box {
      border-color: var(--color-primary);
    }

    &__title {
      color: var(--color-white-darkest);
    }
  }

  & .projects {
    &__img-box {
      border-color: var(--color-black-light);
    }

    &__title {
      color: var(--color-white-dark);
    }

    &__type {
      color: var(--color-white-darkest);
    }
  }

  & .footer {
    background-color: var(--color-black-light);

    &__copyright {
      color: var(--color-white-darkest);
    }
  }

  & .heading {
    &__secondary,
    &__normal {
      color: var(--color-white-dark);
    }
  }

  & .btn {
    &--outline {
      color: var(--color-white-dark);
    }
  }

  & .icon {
    color: var(--color-white-darkest);
  }

  & .loader {
    background-color: var(--color-black);

    &__circle {
      &::before {
        background-color: var(--color-primary-light);
      }

      &::after {
        background-color: var(--color-primary);
      }
    }
  }
}
