%button-variant {
  width: 18rem;
  max-width: 18rem;
  min-width: 18rem;
  height: 5rem;
  max-height: 5rem;
  min-height: 5rem;
  border-radius: var(--b-radius-3);
  text-align: center;
  text-transform: uppercase;
}

.btn {
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
    transition: var(--transition);
  }

  &:hover {
    color: var(--color-white-dark);
  }

  &--xs {
    padding: 0.6rem 1.2rem;
  }

  &--sm {
    padding: 1.2rem 2.4rem;
  }

  &--md {
    padding: 2.4rem 4.8rem;
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    @extend %button-variant;

    &:hover {
      box-shadow: 0 0.6rem 1.2rem rgba(24, 83, 199, 0.3);
    }
  }

  &--outline {
    position: relative;
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    overflow: hidden;
    backdrop-filter: blur(4px);
    @extend %button-variant;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: var(--color-primary);
      transition: var(--transition);
      z-index: -1;
    }

    &:hover {
      color: var(--color-white-dark);
      box-shadow: 0 0.6rem 1.2rem rgba(24, 83, 199, 0.3);

      &::before {
        width: 100%;
      }
    }
  }

  &:not(:last-child) {
    margin-right: 3.2rem;

    @include responsive(phone-xs) {
      margin-right: 0;
      margin-bottom: 3.2rem;
    }
  }
}
