.floating {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  animation: move-up-down 2.5s infinite alternate ease-in-out;
  transition: var(--transition);
  z-index: -2;

  &::before {
    content: '';
    position: absolute;
    border: 2px solid var(--color-white-dark);
    background-color: transparent;
    pointer-events: none;
    border-radius: var(--b-radius-rnd);
  }

  &__item {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    border-radius: var(--b-radius-rnd);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    transition: var(--transition);

    &:hover {
      transform: scale(1.2);
    }

    &--1 {
      left: -14rem;
      bottom: -6rem;

      &::before {
        width: 50rem;
        height: 50rem;
      }
    }

    &--2 {
      top: -9rem;
      left: 50%;

      &::before {
        width: 80rem;
        height: 80rem;
      }
    }

    &--3 {
      right: -8rem;
      bottom: 0;

      &::before {
        width: 45rem;
        height: 45rem;
      }
    }
  }

  &__icon {
    width: 3.6rem;
    height: 3.6rem;
    fill: var(--color-primary-dark-2);
  }
}
