.hero {
  padding-top: 16rem;
  padding-bottom: 16rem;
  // min-height: calc(100vh - var(--header-height));
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    position: relative;
  }

  &__textbox {
    position: relative;
    z-index: 1;
    pointer-events: none;

    @include responsive(phone-xs) {
      text-align: center;
    }
  }

  &__greet {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-black-light-2);
  }

  &__secondary {
    font-size: clamp(2.4rem, 5vw, 5.6rem);
    color: var(--color-grey-light);
    letter-spacing: -0.15rem;
    line-height: 1.1;
  }

  &__message {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    max-width: 65rem;

    @include responsive(phone-sm) {
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    z-index: 10;

    @include responsive(phone-xs) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__floating {
    @include responsive(tab-small) {
      display: flex;
      margin-top: 4.8rem;
      gap: 2.4rem;
    }

    @include responsive(phone-xs) {
      justify-content: center;
    }
  }
}
