.hero {
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
  overflow: hidden;
  z-index: 10;
  min-height: 100vh;

  &__greet {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-black-light-2);
  }

  &__message {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    max-width: 65rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }
}
