.wrapper {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  @include responsive(phone) {
    max-width: 70rem;
  }

  @include responsive(phone-sm) {
    max-width: 100rem;
  }
}

.flex {
  display: flex;

  &--center-v {
    align-items: center;
  }

  &--center-h {
    justify-content: center;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--col {
    flex-direction: column;
  }
}
