%btn-placeholder {
  cursor: pointer;
  background-color: transparent;
  color: var(--color-black-light-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

%link-placeholder {
  font-weight: 500;
  color: var(--color-black-light-2);
  display: inline-block;
  transition: var(--transition);
}

.navigation {
  margin-left: auto;
  padding-left: 2.4rem;

  @include responsive(tab-small) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 4.8rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.4rem;
      position: relative;
      @extend %link-placeholder;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -0.7rem;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: var(--color-primary);
      transform: scale(0, 1);
      transition: transform 200ms linear;
    }

    &:hover {
      color: var(--color-primary);

      &::after {
        transform: scale(1, 1);

        @include responsive(tab-small) {
          transform: scale(0);
        }
      }
    }
  }

  //Table and Mobile Menu
  &__mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 240, 254, 0.5);
    backdrop-filter: blur(0.4rem);
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(100%);
    transition: var(--transition);

    &.active {
      transform: translate(0);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__mobile-container {
    width: 70vw;
    height: 100%;
    background-color: var(--color-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  &__mobile-link {
    &:link,
    &:visited {
      font-size: 3.2rem;
      @extend %link-placeholder;
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  &__btn {
    width: auto;
    height: auto;
    border: none;
    @extend %btn-placeholder;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }

  &__btn-menu {
    width: 4.8rem;
    height: 4.8rem;
    min-width: 4.8rem;
    min-height: 4.8rem;
    border: none;
    display: none;
    @extend %btn-placeholder;

    @include responsive(tab-small) {
      display: flex;
    }

    & span {
      position: relative;

      &,
      &::before,
      &::after {
        height: 2px;
        background-color: var(--color-black-light-2);
        border-radius: 10rem;
      }

      &::before,
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        transition: var(--transition);
      }

      & {
        width: 2.6rem;
      }

      &::before {
        width: 3rem;
        top: -0.8rem;
      }

      &::after {
        width: 2rem;
        top: 0.8rem;
      }
    }

    &.active span {
      background-color: transparent;
    }

    &.active span::before {
      top: 0;
      transform: rotate(-135deg);
    }

    &.active span::after {
      top: 0;
      transform: rotate(135deg);
      width: 3rem;
    }
  }
}
